@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75; 
}

body {
  margin: 0;
  background-color: #000000; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  padding: 1rem; 
  color: white; 
}
